body {
  /*color: blue;
  font-size: 24px;
  font-family:helvetica;
  /*background: url("/cookie recipe/cookies.jpg")*/
  background-color: #FFE;
  font-size: 24px;
  border-style: solid;
  border-width: 5px;
  text-align: center;
}

h4 {
  color: #887;
  font-size: 24px;
  /*font-size: 24px;
  font-family:helvetica;*/
}

/* unvisited link */
a:link {
    color: #900;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

Cookie Recipe CSS
=================

- The background color for the page is #FFE
- The color for the text reading "Nutrition Information" is #887
- The link color is #900
Bonus: The border on the page and around the image is black
